<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <style>

        body {
            margin: 0;
            background-color: #333;
        }

        .image {
            float: left;
            display: block;
            margin: 1em;
            background-color: #444;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }
        
        .label {
            color: white;
            font-size: 2em;
            text-align:center;
            position: absolute;
            font-family: arial;
            padding-left: 5px;
            padding-top: 5px;
        }

        img {
            display: block;
        }

    </style>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/unveil/1.3.0/jquery.unveil.js"></script>
    <script>
        
        TAGLESS_SESSION_ID = Math.random().toString().slice(-10);
        MAX_IMAGES = 150;

        function next_image(e, label) {  
          $.ajax({
            type: 'POST',
            url: 'label',
            processData: false,
            contentType: 'application/json',
            dataType: 'json',
            beforeSend: function(req) {
                req.setRequestHeader("tagless_session_id", TAGLESS_SESSION_ID)
            },
            data: JSON.stringify({'image_path' : e.target.src, 'label' : label}),
            success: function(responses, status) {
                _.map(responses, function(response) {
                    $('#images').append(
                        `<a class="image" style="width: ${response.width}px; height: ${response.height}px">` + 
                            `<div class='label' style='z-index: 0'></div>` +
                            `<img src="${response.src}" width="${response.width}" height="${response.height}"/>` +
                        `</a>`
                    )
                });
                
                // Don't show more than MAX_IMAGES at a time (too many images seemed to choke the app)
                while($('img').length > MAX_IMAGES) {
                    $('img')[0].remove();
                }
                // $('img').unveil(); 
            }
          });
        }
        
        default_color = 'black';
        default_class = '';
        state = -1;
        label = default_class;
        hover_color = default_color;
        
        
        $(document).ready(function() {
            $('img').unveil();
            
            $.ajax({
                type: 'GET',
                url: 'meta',
                success: function(response, status) {
                    
                    keycodes = response['keycodes'];
                    colors   = response['colors'];
                    classes  = response['classes'];
                    
                    console.log(keycodes);
                    
                    $("body").on("keydown", function(e) {
                        state = keycodes.indexOf(e.keyCode);
                        if(state >= 0) {
                            hover_color = colors[state];
                            label = classes[state];                    
                        } else {
                            hover_color = default_color;
                            label = default_class;
                        }
                        
                        var tmp = $('.active').not('.annotated');
                        tmp.css('background-color', hover_color);
                        tmp.find('.label').text(label);
                    });
                    
                    $("body").on("click", ".image", function(e){
                        if(state >= 0) {
                            var tmp = $(this).css('background-color', hover_color)
                                .removeClass('active').addClass('annotated')
                            tmp.find('img').css('opacity', '0.4');
                            tmp.find('.label').css('font-size', '6em');
                            
                            next_image(e, state)                     
                        }
                    });
                    
                    $("body").on("mouseover", ".image", function(e) {
                        var tmp = $(this).not('.annotated').css('background-color', hover_color)
                            .addClass('active')
                        tmp.find('img').css('opacity', '0.5');
                        tmp.find('div').text(label);
                        
                        $(this).on('mouseout', function(e) {
                            var tmp = $(this).not('.annotated').css('background-color', default_color)
                                .removeClass('active')
                            tmp.find('img').css('opacity', '1.0');
                            tmp.find('.label').text(default_class);
                        });
                    });
                }
            });
        });
        
    </script>
</head>

<body oncontextmenu="return false;">
    <div id="images">
        {% for image in images %}
            <a class="image" style="width: {{ image.width }}px; height: {{ image.height }}px">
                <div class='label' style='z-index: 0'></div>
                <img style='z-index:1' src="{{ image.src }}" width="{{ image.width }}" height="{{ image.height }}" />
            </a>
        {% endfor %}
    </div>
</body>